.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.logo {
  text-transform: uppercase;
  font-weight: 800;
  color: #1890ff;
}

.profile {
  color: #1890ff;
}
