.wrapper {
  border-radius: 5px;
  background-color: inherit;
  width: 300px;
  box-shadow: 5px 5px 20px #aaa;
}

.card {
  padding: 0.5rem;
  font-size: 0.8rem;
}

.title {
  display: block;
  text-align: center;
  padding-bottom: 10px;
}

.info {
  display: flex;
  justify-content: space-between;
}
